includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
parameters:
    level: 5
    noEnvCallsOutsideOfConfig: false
    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: argument.type
        - identifier: callable.void
        - identifier: match.unhandled
        - identifier: method.childReturnType
        - identifier: method.void
        - identifier: nullCoalesce.initializedProperty
        - identifier: nullCoalesce.offset
        - identifier: nullsafe.neverNull
        - identifier: parameterByRef.type
        - identifier: return.type
        - identifier: return.unusedType
        - identifier: staticMethod.void
        - identifier: varTag.nativeType
    paths:
        - app
        - database
        - routes
        - database/factories
    scanFiles:
        - vendor/_ide_helper/models.php
