{
	frankenphp
	order php_server before file_server
}

http://:80 {
	route {
		root * public/
		encode zstd br gzip
		php_server {
			index index.php
			try_files {path} index.php
			# Required for the public/storage/ directory...
			resolve_root_symlink
		}
	}
}
