<!doctype html>
<html>
    <head>
        {% load static %}
        <title>{% block title %}LionzHD{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
        <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
        />
    </head>
    <body>
        <header>
            <h1>LionzHD</h1>
            <nav>
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'favorites_list' %}">Favorites</a>
                <a href="{% url 'update_indexes' %}">Update MeiliSearch Indexes</a>
                <a href="{% url 'configurations' %}">View Configurations</a>
            </nav>
            <button id="theme-toggle">Toggle Dark Mode</button>
            <button id="hamburger-menu" class="hamburger-menu">&#9776;</button>
            <div id="dropdown-menu" class="dropdown-menu">
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'favorites_list' %}">Favorites</a>
                <a href="{% url 'update_indexes' %}">Update MeiliSearch Indexes</a>
                <a href="{% url 'configurations' %}">View Configurations</a>
                <button id="dropdown-theme-toggle">Toggle Dark Mode</button>
            </div>
        </header>
        <main>{% block content %} {% endblock %}</main>
        <footer>
            {% now "Y" as current_year %}
            <p>&copy; {{ current_year }} LionzHD</p>
        </footer>
        {% block extra_js %} {% endblock %}
        <script>
            document.getElementById("theme-toggle").addEventListener("click", function () {
                const currentTheme = document.documentElement.getAttribute("data-theme");
                const newTheme = currentTheme === "dark" ? "light" : "dark";
                document.documentElement.setAttribute("data-theme", newTheme);
                localStorage.setItem("theme", newTheme);
            });

            document.getElementById("dropdown-theme-toggle").addEventListener("click", function () {
                const currentTheme = document.documentElement.getAttribute("data-theme");
                const newTheme = currentTheme === "dark" ? "light" : "dark";
                document.documentElement.setAttribute("data-theme", newTheme);
                localStorage.setItem("theme", newTheme);
            });

            document.addEventListener("DOMContentLoaded", function () {
                const savedTheme = localStorage.getItem("theme") || "light";
                document.documentElement.setAttribute("data-theme", savedTheme);
            });

            document.getElementById("hamburger-menu").addEventListener("click", function () {
                const dropdownMenu = document.getElementById("dropdown-menu");
                dropdownMenu.classList.toggle("show");
            });

            window.addEventListener("click", function (event) {
                if (!event.target.matches(".hamburger-menu")) {
                    const dropdownMenu = document.getElementById("dropdown-menu");
                    if (dropdownMenu.classList.contains("show")) {
                        dropdownMenu.classList.remove("show");
                    }
                }
            });
        </script>
    </body>
</html>
